---
layout: page
---
{% if page.image %}
  <div style="float:right">
    <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
  </div>
{% endif %}

<div>
  <p>{{ page.description }}</p>

  {% if page.website %}
    <div class="website">下载地址：<a href="{{ page.website }}">{{ page.website }}</a></div>
  {% endif %}
</div>

<div id="project-description">
  <h3>我们做了些什么:</h3>
  {{ page.project_description }}
</div>

{% if page.endorsements %}
  <div id="endorsements">
    <h3>用户如何评价:</h3>

    {% for endorsement in page.endorsements %}
      <blockquote>
        {{ endorsement.body }}
        <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
      </blockquote>
    {% endfor %}
  </div>
{% endif %}

<div class="ds-thread" data-thread-key="" data-title="" data-author-key="" data-url=""></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"bigdreamstudio"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = 'http://static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	|| document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>